<div{attributes -> f:format.raw()}>
<figure>
	<textarea
			  data-theme="{theme}"
			  data-enableLineNumbers="{enableLineNumbers}"
			  data-firstlinenumber="{firstLineNumber}"
			  data-highlightLines="{highlightLines}"
			  lang="{language}">{source -> f:format.htmlspecialchars()}</textarea>
	<figcaption class="clearfix">
		<f:if condition="{caption}">
			{caption}
		</f:if>
		<span class="language">
		<f:switch expression="{language}">
			<f:case value="coffeescript">CoffeeScript</f:case>
			<f:case value="css">CSS</f:case>
			<f:case value="htmlmixed">HTML</f:case>
			<f:case value="javascript">JavaScript</f:case>
			<f:case value="php">PHP</f:case>
			<f:case value="ruby">Ruby</f:case>
			<f:case value="sass">SASS</f:case>
			<f:case value="shell">Shell</f:case>
			<f:case value="typoscript2">TypoScript2</f:case>
			<f:case value="xml">XML</f:case>
			<f:case value="yaml">YAML</f:case>
			<f:defaultCase>Text</f:defaultCase>
		</f:switch>
		</span>
	</figcaption>
</figure>
</div>